/* App background */
.app-bg {
  min-height: 100vh;
  background: url("./Amazon-Alexa-plus.jpg");
  background-position: fixed;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
